/* COLORS */
/* SPACING */
/* FONTS */
/* BREAKPOINTS */
.layout .main .main-left, .layout .main .main-right {
  width: 100%; }

.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .layout .header {
    background-color: white;
    padding: 16px;
    border-top: 5px solid #D33F49; }
    @media (max-width: 1200px) {
      .layout .header {
        text-align: center; } }
  .layout .main {
    padding: 24px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media (max-width: 1200px) {
      .layout .main {
        flex-direction: column-reverse;
        align-items: center; } }
    .layout .main .main-left {
      width: 600px;
      padding: 0 16px; }
      @media (max-width: 650px) {
        .layout .main .main-left {
          width: 100%; } }
    .layout .main .main-right {
      width: 400px;
      padding: 0 16px; }
      @media (max-width: 1200px) {
        .layout .main .main-right {
          width: 600px; } }
      @media (max-width: 650px) {
        .layout .main .main-right {
          width: 100%; } }

.info {
  position: sticky;
  top: 24px;
  border-left: 2px solid #D33F49;
  padding: 0 16px; }
  @media (max-width: 1200px) {
    .info {
      position: static;
      border-left: none;
      border-bottom: 1px solid #D33F49;
      text-align: center; } }

.container {
  display: flex;
  flex-direction: column;
  overflow: none;
  width: 600px; }
  @media (max-width: 650px) {
    .container {
      width: -webkit-calc(100% - 32px);
      width: -moz-calc(100% - 16px);
      width: calc(100% - 16px); } }

.project-link-inner {
  padding: 16px 0px;
  cursor: pointer; }

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  padding: 8px; }
  .icon i {
    text-align: center; }
  .icon img {
    padding: 8px;
    height: 20px;
    width: auto;
    text-align: center; }
  .icon .icon-text {
    text-transform: uppercase;
    font-family: Nanum Gothic;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #D33F49; }

.navigation-main {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between; }
  .navigation-main h2 {
    cursor: pointer; }
  .navigation-main .indicator-space {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 20px 0px; }
  .navigation-main .indicator {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #D33F49;
    border-radius: 100%;
    transform: rotate(-45deg); }

.navigation-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navigation-projects .nav-sub-selected {
    color: #D33F49; }

.list-item {
  display: flex;
  align-content: center; }

.bullet-container {
  display: flex;
  align-items: center;
  padding: 8px;
  padding-right: 16px; }
  .bullet-container .bullet {
    height: 8px;
    width: 8px;
    background-color: #77BA99;
    border-radius: 100%; }

h1 {
  font-family: Varela Round;
  margin: 8px 0px;
  color: #262730;
  text-shadow: 2px 2px #D7C0D0; }

h2 {
  font-family: Varela Round;
  color: #262730; }

h3 {
  font-family: Rajdhani;
  font-weight: 600;
  color: #77BA99; }

h4 {
  color: #262730;
  font-family: Varela Round;
  margin: 8px 0px; }

p {
  font-family: Nanum Gothic;
  white-space: pre-wrap;
  text-align: justify;
  line-height: 1.4rem; }

i {
  padding: 8px;
  font-size: 20px; }

a {
  font-family: Varela Round;
  font-weight: 900;
  color: #D33F49;
  text-decoration: none; }

.link-major {
  align-self: flex-end;
  text-align: center;
  font-family: Varela Round;
  font-weight: 900;
  color: white;
  background-color: #77BA99;
  text-decoration: none;
  border-radius: 4px;
  padding: 4px 8px;
  box-shadow: 2px 2px rgba(190, 248, 238, 0.25) inset, 0px -2px rgba(0, 0, 0, 0.1) inset; }
  .link-major:hover {
    box-shadow: none; }

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.start {
  align-self: flex-start; }

.end {
  align-self: flex-end; }

.video-main {
  height: 337px; }

.spacer {
  padding: 24px; }

.interactive {
  cursor: pointer; }

@media (max-width: 1200px) {
  .no-display-breakpoint-first {
    display: none; } }

.interaction-indicator-width {
  width: 0%;
  height: 2px;
  background-color: #D33F49; }

.interaction-indicator-height {
  height: 100%;
  width: 2px;
  background-color: #D33F49; }

.reveal-height {
  height: 0%;
  overflow: hidden; }

.indicator-static {
  opacity: 0;
  transform: scale(0);
  align-self: center;
  margin: 8px;
  height: 12px;
  width: 12px;
  background-color: #D33F49;
  border-radius: 100%; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  color: #262730;
  overflow-y: scroll;
  min-height: calc(100vh + 5px);
  border-bottom: 5px solid #77BA99; }

::selection {
  background: #77BA99;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #77BA99;
  /* Gecko Browsers */ }

iframe {
  margin: 24px 0; }


/*# sourceMappingURL=styles.chunk.css.map*/