
.info {
  position: sticky;
  top: $spacing-large;
  border-left: 2px solid $color-highlight;
  padding: 0 $spacing-default;
  @media (max-width: $breakpoint-first){
    position: static;
    border-left: none;
    border-bottom: 2px solid $color-highlight;
    text-align: center;
  }
}

%indicator-space {

}

.container {
  display: flex;
  flex-direction: column;
  overflow: none;
  width: 600px;
  @media (max-width: $breakpoint-second){
    width: -webkit-calc(100% - #{$spacing-default*2});
    width:    -moz-calc(100% - #{$spacing-default});
    width:         calc(100% - #{$spacing-default});
  }
}

.project-link-inner {
  padding:  $spacing-default 0px;
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  padding: $spacing-small;

  i{
    text-align: center;
  }

  img {
    padding: $spacing-small;
    height: 20px;
    width: auto;
    text-align: center;
    margin: 0px;
  }

  .icon-text {
    text-transform: uppercase;
    font-family: $font-subtitle;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: $color-highlight;
  }
}

.navigation-main {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    cursor: pointer;
  }

  .indicator-space {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
  }


  .indicator {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: $color-highlight;
    border-radius: 100%;
    transform: rotate(-45deg);
  }

}


.navigation-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $spacing-large;

  .nav-sub-selected {
    color: $color-highlight;
    font-weight: 900;
  }
}

.list-item {
  display: flex;
  align-content: center;
}

.bullet-container {
  display: flex;
  align-items: center;
  padding: $spacing-small;
  padding-right: $spacing-default;

  .bullet {
    height: 8px;
    width: 8px;
    background-color: $color-semidark;
    border-radius: 100%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .contact-spacer {
    padding: $spacing-small 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .contact-group {

  }

  textarea {
    border: 1px solid $color-semidark;
    padding: $spacing-smaller;
    border-radius: $spacing-smallest;
    font-size: 14px;
    font-family: $font-subtitle;
    resize: vertical;
  }

  button {
    font-size: 16px;
    padding: $spacing-smaller;
    border-radius: $spacing-smaller;
    border: none;
    background-color: $color-mid;
    color: $color-light;
    font-family: $font-subtitle;
    font-weight: 900;
    cursor: pointer;
  }

  .contact-input {
    border: 1px solid $color-semidark;
    padding: $spacing-smaller;
    border-radius: $spacing-smallest;
    font-size: 14px;
    font-family: $font-subtitle;
    transition-duration: 0.5s;

    &:focus {
      border: 1px solid $color-highlight;
      outline: none;
    }
  }
}