%full-width {
  width: 100vw;
}

%responsive-submain {
  width: 100%;
}

.layout{
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .header{
    background-color: $color-light;
    padding: $spacing-default;
    border-top: 5px solid $color-highlight;  
    @media (max-width: $breakpoint-first){
      text-align: center;
    }  
  }
  .main{
    padding: $spacing-large;
    padding-bottom: $spacing-largest;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: $breakpoint-first){
      flex-direction: column-reverse;
      align-items: center;
    }

    .main-left{
      @extend %responsive-submain;
      width: 600px;
      padding: 0 $spacing-default;
      @media (max-width: $breakpoint-second){
        width: 100%;
      }
    }
    .main-right{
      @extend %responsive-submain;
      width: 400px;
      padding: 0 $spacing-default;
      @media (max-width: $breakpoint-first){
        width: 600px;
      }
      @media (max-width: $breakpoint-second){
        width: 100%;
      }
    }
  }
}