h1 {
  font-family: $font-title;
  margin: $spacing-small 0px;
  color: $color-dark;
  text-shadow: 2px 2px $color-mid ;
}

h2 {
  font-family: $font-title;
  color: $color-dark;
}

h3 {
  font-family: $font-alternate;
  font-weight: 600;
  color: $color-semidark;
}

h4 {
  color: $color-dark;
  font-family: $font-title;
  margin: $spacing-small 0px;
}

p {
  font-family: $font-subtitle;
  white-space: pre-wrap;
  text-align: justify;
  line-height: 1.4rem;
}

i {
  padding: $spacing-small;
  font-size: 20px;
}

a {
  font-family: $font-title;
  font-weight: 900;
  color: $color-highlight;
  text-decoration: none;
}

.link-major {
  align-self: flex-end;
  text-align: center;
  font-family: $font-title;
  font-weight: 900;
  color: $color-light;
  background-color: $color-semidark;
  text-decoration: none;
  border-radius: $spacing-smaller;
  padding: $spacing-smaller $spacing-small;
  box-shadow: 2px 2px rgba(190, 248, 238, 0.25) inset, 0px -2px rgba(0,0,0, 0.1) inset;
  
  &:hover{
    box-shadow: none;
  }
}