/* COLORS */
$color-lightest: rgb(240, 229, 217);
$color-lightbackup: #EFF0D1;
$color-light: rgb(255, 255, 255);
$color-mid: #778DA9;
//$color-mid: #D7C0D0;
$color-semidark: #415A77;
//$color-semidark: #77BA99;
$color-dark: #011627;
//$color-dark: #262730;
$color-darkest: #011627;
//$color-darkest: #262730;
$color-highlight: #F71735;
//$color-highlight: #D33F49;

$color-idea1: #011627;


/* SPACING */
$spacing-smallest: 2px;
$spacing-smaller: 4px;
$spacing-small: 8px;
$spacing-default: 16px;
$spacing-large: 24px;
$spacing-larger: 48px;
$spacing-largest: 128px;

/* FONTS */
$font-title: Varela Round;
$font-subtitle: Nanum Gothic;
$font-default: Dosis;
$font-alternate: Rajdhani;

/* BREAKPOINTS */

$breakpoint-first: 1200px;
$breakpoint-second: 650px;