/* COLORS */
$color-lightest: rgb(240, 229, 217);
$color-lightbackup: #EFF0D1;
$color-light: rgb(238, 235, 223);
$color-mid: #D7C0D0;
$color-semidark: #77BA99;
$color-dark: #262730;
$color-darkest: #262730;
$color-highlight: #D33F49;


/* SPACING */
$spacing-smaller: 4px;
$spacing-small: 8px;
$spacing-default: 16px;
$spacing-large: 24px;
$spacing-larger: 48px;

/* FONTS */
$font-title: Varela Round;
$font-subtitle: Nanum Gothic;
$font-default: Dosis;
$font-alternate: Rajdhani;