@import '_variables';
@import '_layout';
@import '_components';
@import '_text';
@import '_utility';


body {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
  background-color: $color-light;
  color: $color-dark;
  overflow-y: scroll;
}

::selection {
  background: $color-semidark; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-semidark; /* Gecko Browsers */
}

